* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 50px;

    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: aqua;
      }
    }
  }
  span {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    position: relative;

    ul {
      flex-direction: column;
      display: none;
    }
    span {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;

      &.active {
        color: green;
      }
    }
  }
}
